flows.json
[{"id":"532f8e65.219d7","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"48d0d1ed.094db","type":"ui_template","z":"532f8e65.219d7","group":"2b1a6f2.5b67a9","name":"","order":1,"width":"9","height":"8","format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Visual Recognition</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n     \n    background-color: #A42156!important;\n\t}\n\tdashboard-template h4 {\n    color: #111111 !important;\n    background-color: #A42156 !important;\n    }\n\t\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #A42156;\n\t\tborder-color: #A42156;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: #EB9E30;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n\t</style>\n</head>\n<body>\n\t<nav class=\"navbar navbar-expand-sm bg-light\">\n\t\t<div class=\"justify-content-center\">\n\t\t\t<h4 class=\"text-center\">Food Nutrition Dashboard </h4>\n\t\t</div>\n\t</nav>\n\t<br><br>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t<div class=\"custom-file\">\n\t\t\t\t\t\n\t\t\t\t\t\t<input type=\"file\" name=\"pic\" accept=\"image/*\" onchange=\"readURL(this);\" class=\"custom-file-input\" id=\"customFile\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t<label class=\"custom-file-label\" for=\"customFile\">Choose file</label>\n\t\t\t\t\t</div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div class=\"imgdiv\">\n\t\t\t\t\t\t<img src=\"#\" id=\"blah\" class=\"rounded\" alt=\"Selected Image\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t<button type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\">Submit</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.class;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.score;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":60,"y":140,"wires":[["9ddff56d.ee8a38"]]},{"id":"9ddff56d.ee8a38","type":"visual-recognition-v3","z":"532f8e65.219d7","name":"","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/87676726-0eea-4635-b685-b026e9fdfcda","image-feature":"classifyImage","lang":"en","x":230,"y":140,"wires":[["9cb7c293.d461a"]]},{"id":"9cb7c293.d461a","type":"function","z":"532f8e65.219d7","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n            bestcolor = i;\n            colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n      if ( !object.includes(\"color\") ) {\n        if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n            bestItem = i;\n            itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n        }\n      }\n    }\n \n     if( bestcolor != \"-1\") {\n        // found a color\n        item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n        bestcolor = -1;\n    } else {\n       item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n    }\n//    say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n    //say = say + \" Watson thinks this picture contains \" + item +\".\";\n    say = say + \" Watson thinks this picture contains \" + msg.result.images[0].classifiers[0].classes[0].class +\".\";\n}\nmsg.payload =  say;\n// msg.food = msg.result.images[0].classifiers[0];\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>\"+say+\"</h2><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["c2f43f58.3d5a9","f243ede6.65712","fe50859d.d04e08"]]},{"id":"f243ede6.65712","type":"ui_template","z":"532f8e65.219d7","group":"57c1c80d.67ced8","name":"Results Table","order":1,"width":"9","height":"10","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":680,"y":160,"wires":[[]]},{"id":"c2f43f58.3d5a9","type":"debug","z":"532f8e65.219d7","name":"What did Watson find?","active":true,"console":"false","complete":"payload","x":670,"y":120,"wires":[]},{"id":"fe50859d.d04e08","type":"change","z":"532f8e65.219d7","name":"Food classification","rules":[{"t":"set","p":"food","pt":"msg","to":"result.images[0].classifiers[0].classes[0].class","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[["21d5363b.c14fea"]]},{"id":"21d5363b.c14fea","type":"switch","z":"532f8e65.219d7","name":"Food?","property":"food","propertyType":"msg","rules":[{"t":"eq","v":"non-food","vt":"str"},{"t":"neq","v":"non-food","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":260,"wires":[["d13dfc1d.9f02e"],["a2f8b886.16a8e8","3bcde04e.bff79","1b965691.416f49"]]},{"id":"d13dfc1d.9f02e","type":"function","z":"532f8e65.219d7","name":"Not a Food - Empty Table","func":"msg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 50%;}\";\n\nmsg.template=msg.template+\"</style><h1>Not Valid</h1>\";\nmsg.template = msg.template;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":260,"wires":[["834ea6e7.c8da58"]]},{"id":"834ea6e7.c8da58","type":"ui_template","z":"532f8e65.219d7","group":"857aada0.90593","name":"Nutrients Table","order":2,"width":"9","height":"9","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1020,"y":440,"wires":[[]]},{"id":"df6d6b1a.5cc488","type":"ui_audio","z":"532f8e65.219d7","name":"","group":"57c1c80d.67ced8","voice":"0","always":true,"x":740,"y":320,"wires":[]},{"id":"57a93417.be065c","type":"inject","z":"532f8e65.219d7","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"yogurt","payloadType":"str","x":110,"y":380,"wires":[["b78d2c7e.dae0d"]]},{"id":"b78d2c7e.dae0d","type":"change","z":"532f8e65.219d7","name":"","rules":[{"t":"set","p":"food","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":460,"wires":[["a2f8b886.16a8e8"]]},{"id":"a2f8b886.16a8e8","type":"function","z":"532f8e65.219d7","name":"USDA API url","func":"msg.url = \"https://api.nal.usda.gov/fdc/v1/foods/search?api_key=CcOcS7GaR1IkCaPsbFRgy95DBKw77LIGzZTyoIDd&query=\"+msg.food;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":460,"wires":[["690374f9.84d1ac"]]},{"id":"690374f9.84d1ac","type":"http request","z":"532f8e65.219d7","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":440,"wires":[["3036dbf8.6aadf4","1d462e41.3dce62"]]},{"id":"3036dbf8.6aadf4","type":"debug","z":"532f8e65.219d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":400,"wires":[]},{"id":"638e2676.13bda8","type":"debug","z":"532f8e65.219d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":540,"wires":[]},{"id":"1b965691.416f49","type":"debug","z":"532f8e65.219d7","name":"What type of food?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"food","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":380,"wires":[]},{"id":"6a65afe.7585c5","type":"watson-text-to-speech","z":"532f8e65.219d7","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","apikey":"WfuPTu06GdLBvR-V-hzBCk89cx5kr_0an_9McKneIR_C","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/614664fa-a093-465e-9da2-c45afc189af6","x":530,"y":320,"wires":[["df6d6b1a.5cc488"]]},{"id":"3bcde04e.bff79","type":"change","z":"532f8e65.219d7","name":"Announce food","rules":[{"t":"set","p":"payload","pt":"msg","to":"food","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[["6a65afe.7585c5"]]},{"id":"1d462e41.3dce62","type":"function","z":"532f8e65.219d7","name":"Build Nutrition Table","func":"msg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\nmsg.template=msg.template+\"<h2>Ingredients:</h2>\"+\"<p>\"+msg.payload.foods[0].food+\"</p><table span=100%><tr><th>Nutritional Information</th><th>Value</th></tr>\";\nvar arrayLength = msg.payload.foods[0].foodNutrients.length;\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + msg.payload.foods[0].foodNutrients[i].nutrientName + \"</td><td>\" + msg.payload.foods[0].foodNutrients[i].value+ msg.payload.foods[0].foodNutrients[i].unitName + \"</td></tr>\";\n  if (msg.payload.foods[0].foodNutrients[i].nutrient_id==269) msg.sugar = msg.payload.foods[0].food.nutrients[i].value;\n  if (msg.payload.foods[0].foodNutrients[i].nutrient_id==204) msg.fat = msg.payload.foods[0].food.nutrients[i].value;\n}\nmsg.template = msg.template + \"</table>\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":500,"wires":[["ffb9e3b2.64c41","834ea6e7.c8da58"]]},{"id":"ffb9e3b2.64c41","type":"ui_template","z":"532f8e65.219d7","group":"bddc8cdf.11238","name":"Nutrients Table","order":2,"width":"9","height":"10","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1020,"y":100,"wires":[[]]},{"id":"2b1a6f2.5b67a9","type":"ui_group","z":"","name":"Food Image","tab":"dd3085cb.504108","order":2,"disp":true,"width":"10","collapse":false},{"id":"57c1c80d.67ced8","type":"ui_group","z":"","name":"Results","tab":"dd3085cb.504108","order":3,"disp":true,"width":"12","collapse":false},{"id":"857aada0.90593","type":"ui_group","z":"","name":"Nutrition content","tab":"dd3085cb.504108","order":4,"disp":true,"width":"12","collapse":false},{"id":"bddc8cdf.11238","type":"ui_group","z":"","name":"Nutrition","tab":"63c90406.e6b19c","order":3,"disp":true,"width":"9"},{"id":"dd3085cb.504108","type":"ui_tab","z":"","name":"Nutritiona analysis","icon":"dashboard","disabled":false,"hidden":false},{"id":"63c90406.e6b19c","type":"ui_tab","z":"2a48299e.23fdc6","name":"Twitter Nutrition Analysis","icon":"dashboard","order":3}]